.git
.gitignore
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

data/books/*
data/covers/*
data/new_books/*
data/*.db
!data/books/.gitkeep
!data/covers/.gitkeep
!data/new_books/.gitkeep

nginx/
TODO.txt
